body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1,
h2,
h3 {
  color: #222;
}

a {
  text-decoration: none;
  color: #007bff;
}

ul {
  padding: 0;
  list-style: none;
}
